<body>
    <form>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="NombreConn">Nombre con el que se identificara la conexion:</label>
                <input class="form-control" type="text" name="nameconn" id="connName">
            </div>

            <div class="form-group col-md-5">
                <label for="ExtremoIni">Componente 1 en el que se empleara esta conexion</label>
                <input class="form-control" type="text" name="extini" id="ExtIni">
            </div>
        </div>
        
        <br>

        <div class="row">
            <div class="form-group col-md-3">
                <label for="ExtremoFin">Componente 2 en el que se empleara esta conexion</label>
                <input class="form-control" type="text" name="extfin" id="ExtFin">
            </div>

            <div class="form-group col-md-3">
                <label for="TipoCable">Tipo de cable de la conexion</label>
                <input class="form-control" type="text" name="tipocable" id="TipoCab">
            </div>
        </div>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Enviar información</button>
    </form>