<!--Hereda de la plantilla padre base.html-->
{% extends "ArbolPy/base.html" %}

<!-- block content contendra todo lo que no se herede de la plantilla padre que es base.html-->
{% block content %}
    <p>Ingrese en los siguientes campos la información requerida para comenzar el escaneo de la red</p>
    <form action="{% url 'ArbolPy:getRedinfo' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button name = "submit">Iniciar escaneo</button>
    </form>
{% endblock content %}